<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-PgyUpdatePlugin"
    version="0.0.1">

    <name>PgyUpdatePlugin</name>
    <description>
        PgyUpdatePlugin
    </description>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <preference name="PGYER_APPID"/>
   
    <js-module src="scripts/PgyUpdatePlugin.js" name="PgyUpdatePlugin">
        <clobbers target="PgyUpdatePlugin" />
    </js-module>

    <!-- android -->
    <platform name="android">

        <!-- source file   -->
        <source-file src="src/android/com/zsoftware/update/PgyUpdatePlugin.java" target-dir="src/com/zsoftware/update/" />

        <!-- lib SDK -->
        <source-file src="src/android/lib/pgyer_sdk_3.0.0.jar" target-dir="libs" />

        <!-- permission config -->
        <config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> 
			<uses-permission android:name="android.permission.INTERNET" /> 
			<uses-permission android:name="android.permission.READ_PHONE_STATE" /> 
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
			<uses-permission android:name="android.permission.GET_TASKS" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 
			<uses-permission android:name="android.permission.RECORD_AUDIO" />
			<uses-permission android:name="com.company.app.fileprovider.READ" />
			<uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
        </config-file>
		
	    <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data
                android:name="PGYER_APPID"
                android:value="$PGYER_APPID" >
            </meta-data>
			
			<provider
				android:name="com.pgyersdk.PgyerProvider"
				android:authorities="${applicationId}.com.pgyer.provider"
				android:exported="false"/>
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PgyUpdatePlugin">
                <param name="android-package" value="com.zsoftware.update.PgyUpdatePlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

    </platform>

   
</plugin>
